{extends file="base.tmpl.html"}
{block name="title"}Hackathon 2019: Front Page{/block}
{block name="resources"}
<style>
    main {
        margin-top: 100px;
        text-align: center;
        color: #333;
    }

    main .title {
        font-size: 45px;
        font-weight: 700;
    }

    main .text {
        padding-top: 32px;
        font-size: 16px;
        width: 50%;
        text-align: center;
        margin: 0 auto;
    }
</style>
{/block}
{block name="content"}
<main>
    <h1 class="title">{$title}</h1>
    <div class="text">
        {$description}
    </div>
</main>
{/block}