{include file="svg-sprites.tmpl.html"}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <title>Hackathon 2019</title>

        <script src="js/script.js"></script>

        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/stylesheet.css">
    </head>

    <body>
        {call name=svg_sprites}

        <div class="page">
            <div class="header center">
                <svg class="logo"><use xlink:href="#svg-logo"></use></svg>
                <span class="title">Hack-a-ton</span>
            </div>
            <div class="content center">
                <div class="side left">
                    IT, интернет, телеком
                    <br>
                    Бытовые услуги
                    <br>
                    Деловые услуги
                    <br>
                    Искусство
                    <br>
                    Красота, здоровье
                    <br>
                    Курьерские поручения
                    <br>
                    Мастер на час
                    <br>
                    Няни, сиделки
                    <br>
                    Оборудование, производство
                    <br>
                    Обучение, курсы
                    <br>
                    Охрана, безопасность
                    <br>
                    Питание, кейтеринг
                    <br>
                    Праздники, мероприятия
                    <br>
                    Реклама, полиграфия
                    <br>
                    Ремонт и обслуживание техники
                    <br>
                    Ремонт, строительство
                    <br>
                    Сад, благоустройство
                    <br>
                    Транспорт, перевозки
                    <br>
                    Уборка
                    <br>
                    Установка техники
                    <br>
                    Уход за животными
                    <br>
                    Фото- и видеосъёмка
                    <br>
                    Другое
                </div>
                <div class="side right box">
                    .
                </div>
            </div>
        </div>
    </body>
</html>