{extends file="base.tmpl.html"}
{block name="title"}Hackathon 2019: Front Page{/block}
{block name="content"}
<div class="side left">
    <div class="category">
        <a href>IT, интернет, телеком</a><span>1</span>
    </div>
    <div class="category">
        <a href>Бытовые услуги</a><span></span>
    </div>
    <div class="category">
        <a href>Деловые услуги</a><span></span>
    </div>
    <div class="category">
        <a href>Искусство</a><span></span>
    </div>
    <div class="category">
        <a href>Красота, здоровье</a><span></span>
    </div>
    <div class="category">
        <a href>Курьерские поручения</a><span></span>
    </div>
    <div class="category">
        <a href>Мастер на час</a><span></span>
    </div>
    <div class="category">
        <a href>Няни, сиделки</a><span></span>
    </div>
    <div class="category">
        <a href>Оборудование, производство</a><span></span>
    </div>
    <div class="category">
        <a href>Обучение, курсы</a><span></span>
    </div>
    <div class="category">
        <a href>Охрана, безопасность</a><span></span>
    </div>
    <div class="category">
        <a href>Питание, кейтеринг</a><span></span>
    </div>
    <div class="category">
        <a href>Праздники, мероприятия</a><span></span>
    </div>
    <div class="category">
        <a href>Реклама, полиграфия</a><span></span>
    </div>
    <div class="category">
        <a href>Ремонт и обслуживание техники</a><span></span>
    </div>
    <div class="category">
        <a href>Ремонт, строительство</a><span></span>
    </div>
    <div class="category">
        <a href>Сад, благоустройство</a><span></span>
    </div>
    <div class="category">
        <a href>Транспорт, перевозки</a><span></span>
    </div>
    <div class="category">
        <a href>Уборка</a><span></span>
    </div>
    <div class="category">
        <a href>Установка техники</a><span></span>
    </div>
    <div class="category">
        <a href>Уход за животными</a><span></span>
    </div>
    <div class="category">
        <a href>Фото- и видеосъёмка</a><span></span>
    </div>
    <div class="category">
        <a href>Другое</a><span></span>
    </div>
</div>
<div class="side right">
    Current page: {$test_page}
</div>
{/block}